<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Kolam</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink='/userpage'>Home</a></li>
          <li class="breadcrumb-item active">Kolam</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <alert></alert>
        <!--MODAL TAMBAH-->
        <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addKolam" *ngIf="hakakses != 'Pegawai'">Tambah Kolam</button>
        <div class="modal fade" id="addKolam">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header bg-success">
                <h4 class="modal-title">Tambah Kolam</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <label for="namaKolam">Nama Kolam</label>
                  <input type="text" class="form-control" id="namaKolam" placeholder="Masukkan nama" required [(ngModel)]="namaKolam">
                </div>
                <div class="form-group">
                  <label for="longitude">Longitude</label>
                  <input type="text" class="form-control" id="longitude" placeholder="Masukkan longitude" required [(ngModel)]="longitude">
                </div>
                <div class="form-group">
                  <label for="latitude">Latitude</label>
                  <input type="text" class="form-control" id="latitude" placeholder="Masukkan latitude" required [(ngModel)]="latitude">
                </div>
                <div class="form-group">
                  <label for="luas">Luas (m<sup>2</sup>)</label>
                  <input type="text" class="form-control" id="luas" placeholder="Masukkan luas" required [(ngModel)]="luas">
                </div>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="addKolam()" data-dismiss="modal">Tambah</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
        
            </div>
          </div>
        </div>

        <!--TABLE-->
        <div class="table-responsive">
          <table datatable class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Nama Kolam</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Luas</th>
                <th>Status</th>
                <th *ngIf="hakakses != 'Pegawai'">Action</th>
              </tr>
            </thead>
              <tbody>
              <tr *ngFor="let row of kolam; let i = index">
                <td>{{i+1}}</td>
                <td>{{row.namaKolam}}</td>
                <td>{{row.longitude}}</td>
                <td>{{row.latitude}}</td>
                <td>{{row.luas}}</td>
                <td>{{row.status}}</td>
                <td *ngIf="hakakses != 'Pegawai'">
                  <!--DELETE KOLAM-->
                  <button class="btn btn-danger mr-2" data-toggle="modal" attr.data-target="#deleteKolam{{row.idKolam}}"><i class="fas fa-trash"></i></button>
                  <div class="modal fade " attr.id="deleteKolam{{row.idKolam}}">
                    <div class="modal-dialog modal-sm ">
                      <div class="modal-content border-danger">
                        <div class="modal-body text-center">
                          <p>Apakah anda yakin ingin menghapus kolam {{row.namaKolam}}?</p>
                          <button type="submit" class="btn btn-danger mr-2" (click)="deleteKolam(row.idKolam)" data-dismiss="modal">Hapus</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--UBAH KOLAM-->
                  <button class="btn btn-warning mr-auto" data-toggle="modal" attr.data-target="#ubahKolam{{row.idKolam}}" (click)="clickeditkolam(row.namaKolam,row.longitude,row.latitude,row.luas)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <div class="modal fade" attr.id="ubahKolam{{row.idKolam}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title">Ubah Kolam</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="namaKolam">Nama Kolam</label>
                            <input type="text" class="form-control" id="namaKolam" required [(ngModel)]="namaKolam">
                          </div>
                          <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" class="form-control" id="longitude" required [(ngModel)]="longitude">
                          </div>
                          <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="text" class="form-control" id="latitude" required [(ngModel)]="latitude">
                          </div>
                          <div class="form-group">
                            <label for="luas">Luas (m<sup>2</sup>)</label>
                            <input type="text" class="form-control" id="luas" required [(ngModel)]="luas">
                          </div>
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" (click)="ubahKolam(row.idKolam)" data-dismiss="modal">Ubah</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
