<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Pegawai</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink='/userpage'>Home</a></li>
            <li class="breadcrumb-item active">Pegawai</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--TABLE-->
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nama</th>
                  <th>Username</th>
                  <th>Status</th>
                  <th *ngIf="hakakses != 'Pegawai'">Action</th>
                </tr>
              </thead>
                <tbody>
                <tr *ngFor="let row of pegawai; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{row.namaDepan}} {{row.namaBelakang}}</td>
                  <td>{{row.username}}</td>
                  <td>{{row.status}}</td>
                  <td *ngIf="hakakses != 'Pegawai'">
                    <!--DELETE PEGAWAI-->
                    <button class="btn btn-danger mr-2" data-toggle="modal" attr.data-target="#deletePegawai{{row.idKustomer}}"><i class="fas fa-trash"></i></button>
                    <div class="modal fade" attr.id="deletePegawai{{row.idKustomer}}">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content border-danger">
                          <div class="modal-body text-center">
                            <p>Apakah anda yakin ingin menghapus pegawai {{row.namaDepan}} {{row.namaBelakang}}?</p>
                            <button type="submit" class="btn btn-danger mr-2" (click)="deletePegawai(row.idKustomer)">Hapus</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--UBAH PEGAWAI-->
                    <button class="btn btn-warning mr-auto" data-toggle="modal" attr.data-target="#ubahPegawai{{row.idKustomer}}"><i class="fas fa-edit"></i></button>
                    <div class="modal fade" attr.id="ubahPegawai{{row.idKustomer}}">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body text-center">
                            <p>Ubah hak akses pegawai {{row.namaDepan}} {{row.namaBelakang}} menjadi?</p>
                            <button type="submit" class="btn btn-success mr-2" (click)="ubahPegawai(row.idKustomer,'admin')">Admin</button>
                            <button type="submit" class="btn btn-warning mr-2" (click)="ubahPegawai(row.idKustomer,'pegawai')">Pegawai</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
