<alert></alert>
<div class="mb-3 d-flex justify-content-between">
    <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
    </div>
    <input type="text" name="" class="form-control input_user" value="" placeholder="username" [(ngModel)] = "username">
</div>
<div class="mb-4 d-flex justify-content-between">
    <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
    </div>
    <input type="password" name="" class="form-control input_pass" value="" placeholder="password" [(ngModel)] = "password">
</div>
<button type="button" name="button" class="btn login_btn" (click)="loginin()">Masuk</button>
<div class="mt-3 d-flex justify-content-center links">
    <a href="#" class="">Lupa password?</a>
</div>