<!--SIDEBAR START-->
<div class="sidebar sidebar-on" id="sidebar">
    <div class="sidebar-header text-center bg-dark">
        <img src="../../assets/img/tambakin-text-only.png" alt="logo" class="img-fluid mt-3">
    </div>
    <div>
        <ul class="list-unstyled">
            <li><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="#"><i class="fas fa-building" aria-hidden="true"></i> Perusahaan</a></li>
            <li><a href="#"><i class="fas fa-fish" aria-hidden="true"></i> Kolam</a></li>
            <li><a href="#"><i class="fas fa-users" aria-hidden="true"></i> Pegawai</a></li>
            <li><a href="#"><i class="fas fa-tasks" aria-hidden="true"></i> Tugas</a></li>
            <li><a href="#"><i class="fas fa-project-diagram" aria-hidden="true"></i> Project</a></li>
        </ul>
    </div>
</div>
<!--SIDEBAR END-->