<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark">Kustomer</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink='/userpage'>Home</a></li>
            <li class="breadcrumb-item active">Kustomer</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profil-tab" data-toggle="pill" href="#profil" role="tab" aria-controls="profil" aria-selected="true">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="kontak-tab" data-toggle="pill" href="#kontak" role="tab" aria-controls="kontak" aria-selected="false">Kontak</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="profil" role="tabpanel" aria-labelledby="profil-tab">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-bold">Nama</td>
                                        <td>{{kustomer.namaDepan}} {{kustomer.namaBelakang}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">Username</td>
                                        <td>{{kustomer.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!--MODAL UBAH-->
                                            <button class="btn btn-success mr-2" data-toggle="modal" data-target="#editKustomer" (click)="clickeditkustomer()">Ubah Data</button>
                                            <div class="modal fade" id="editKustomer">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header bg-success">
                                                    <h4 class="modal-title">Ubah Kustomer</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                            
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <alert></alert>
                                                        <div class="form-group">
                                                            <label for="namaDepan">Nama Depan</label>
                                                            <input type="text" class="form-control" id="namaDepan" required [(ngModel)]="namaDepan">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="namaBelakang">Nama Belakang</label>
                                                            <input type="text" class="form-control" id="namaBelakang" required [(ngModel)]="namaBelakang">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="username">Username</label>
                                                            <input type="text" class="form-control" id="username" required [(ngModel)]="username">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="passwordLama">Password Lama</label>
                                                            <input type="password" class="form-control" id="passwordLama" required [(ngModel)]="passwordLama">
                                                        </div>
                                                    </div>
                                            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" (click)="ubahKustomer()">Simpan</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                            <!--MODAL GANTI PASSWORD-->
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#editPassword">Ganti Password</button>
                                            <div class="modal fade" id="editPassword">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header bg-danger">
                                                    <h4 class="modal-title">Ganti Password</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                            
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <alert></alert>
                                                        <div class="form-group">
                                                            <label for="passwordLama">Password Lama</label>
                                                            <input type="password" class="form-control" id="passwordLama" required [(ngModel)]="passwordLama">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="passwordBaru">Password Baru</label>
                                                            <input type="password" class="form-control" id="passwordBaru" required [(ngModel)]="passwordBaru">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="passwordConfirm">Konfirmasi Password Baru</label>
                                                            <input type="password" class="form-control" id="passwordConfirm" required [(ngModel)]="passwordConfirm">
                                                        </div>
                                                    </div>
                                            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" (click)="gantiPassword()">Simpan</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="kontak" role="tabpanel" aria-labelledby="kontak-tab">
                        <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addKontak">Tambah Kontak</button>
                        <div class="modal fade" id="addKontak">
                            <div class="modal-dialog">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header bg-success">
                                        <h4 class="modal-title">Tambah Kontak</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <alert></alert>
                                        <div class="form-group">
                                            <label for="namaKontak">Jenis</label>
                                            <input type="text" class="form-control" id="namaKontak" placeholder="Masukkan Jenis Kontak" required [(ngModel)]="namaKontak">
                                        </div>
                                        <div class="form-group">
                                            <label for="isiKontak">Kontak</label>
                                            <input type="text" class="form-control" id="isiKontak" placeholder="Masukkan Kontak" required [(ngModel)]="isiKontak">
                                        </div>
                                    </div>
                            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" (click)="addKontak()">Tambah</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table datatable class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Jenis</th>
                                        <th>Kontak</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of kontak; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{row.namaKontak}}</td>
                                        <td>{{row.isiKontak}}</td>
                                        <td>
                                            <!--DELETE KONTAK-->
                                            <button class="btn btn-danger mr-2" data-toggle="modal" attr.data-target="#deleteKontak{{row.idKontak}}"><i class="fas fa-trash"></i></button>
                                            <div class="modal fade " attr.id="deleteKontak{{row.idKontak}}">
                                                <div class="modal-dialog modal-sm ">
                                                <div class="modal-content border-danger">
                                                    <div class="modal-body text-center">
                                                        <p>Apakah anda yakin ingin menghapus kontak ini?</p>
                                                        <button type="submit" class="btn btn-danger mr-2" (click)="deleteKontak(row.idKontak)">Hapus</button>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!--UBAH Kontak-->
                                            <button class="btn btn-warning mr-auto" data-toggle="modal" attr.data-target="#ubahKontak{{row.idKontak}}" (click)="clickeditkontak(row.namaKontak, row.isiKontak)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <div class="modal fade" attr.id="ubahKontak{{row.idKontak}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                
                                                        <!-- Modal Header -->
                                                        <div class="modal-header bg-warning">
                                                            <h4 class="modal-title">Ubah Kontak</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <alert></alert>
                                                            <div class="form-group">
                                                                <label for="namaKontak">Jenis Kontak</label>
                                                                <input type="text" class="form-control" id="namaKontak" required [(ngModel)]="namaKontak">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="isiKontak">Kontak</label>
                                                                <input type="text" class="form-control" id="isiKontak" required [(ngModel)]="isiKontak">
                                                            </div>
                                                            </div>
                                                    
                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary" (click)="ubahKontak(row.idKontak)">Ubah</button>
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </div>
                                                
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
