<alert></alert>
<div class="mb-3 d-flex justify-content-between">
	<div class="input-group-append">
		<span class="input-group-text"><i class="fas fa-user"></i></span>
	</div>
	<input type="text" name="" class="form-control input_user" value="" placeholder="Nama Depan" [(ngModel)] = "namaDepan">
</div><div class="mb-3 d-flex justify-content-between">
	<div class="input-group-append">
		<span class="input-group-text"><i class="fas fa-user"></i></span>
	</div>
	<input type="text" name="" class="form-control input_user" value="" placeholder="Nama Belakang" [(ngModel)] = "namaBelakang">
</div>
<div class="mb-3 d-flex justify-content-between">
	<div class="input-group-append">
		<span class="input-group-text"><i class="fas fa-envelope"></i></span>
	</div>
	<input type="text" name="" class="form-control input_user" value="" placeholder="Email" [(ngModel)] = "username">
</div>
<div class="mb-3 d-flex justify-content-between">
	<div class="input-group-append">
		<span class="input-group-text"><i class="fas fa-key"></i></span>
	</div>
	<input type="password" name="" class="form-control input_pass" value="" placeholder="Password" [(ngModel)] = "password">
</div>
<div class="mb-3 d-flex justify-content-between">
	<div class="input-group-append">
		<span class="input-group-text"><i class="fas fa-key"></i></span>
	</div>
	<input type="password" name="" class="form-control input_pass" value="" placeholder="Konfirmasi Password" [(ngModel)] = "confirmPassword">
</div>
<div class="ml-4 mb-3 text-white links">
	<input type="checkbox" class="form-check-input" value="">Menyetujui <a href="#">Terms of Condition</a> yang telah diberikan.
</div>
<button type="button" name="button" class="mb-2 btn daftar_btn" (click)="daftarin()">Daftar</button>