<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Perusahaan</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink='/userpage'>Home</a></li>
            <li class="breadcrumb-item active">Perusahaan</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="col-12">
      <!--CARD PEMILIK DAN Pegawai-->
      <div class="card" id="pemilikPegawai" *ngIf="hakakses == 'Pegawai' || hakakses == 'Pemilik' || hakakses == 'Admin'">
        <div class="card-body">
          <div class="row">
            <alert></alert>
            <div class="col-sm-4">
              <img [src]='perusahaan.logoPerusahaan?gambarserver+perusahaan.logoPerusahaan:"../../assets/img/Perusahaan.png"' alt="logo perusahan" class="img-fluid">
            </div>    
            <div class="col-sm-6">
              <div class="table-responsive">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td class="text-bold">
                        ID Perusahaan
                      </td>
                      <td>
                        {{perusahaan.idPerusahaan}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">
                        Nama Perusahaan
                      </td>
                      <td>
                        {{perusahaan.namaPerusahaan}}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">
                        Alamat Perusahaan
                      </td>
                      <td>
                        {{perusahaan.alamatPerusahaan}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="btn btn-danger mr-2 mt-auto" *ngIf="hakakses=='Pemilik'" data-toggle="modal" data-target="#deletePerusahaan">Hapus Perusahaan</button> 
              <button class="btn btn-danger mr-2 mt-auto" *ngIf="hakakses=='Pegawai' || hakakses == 'Admin'" data-toggle="modal" data-target="#deletePerusahaan">Keluar Perusahaan</button> 
              <div class="modal fade " id="deletePerusahaan">
                <div class="modal-dialog modal-sm ">
                  <div class="modal-content border-danger">
                    <div class="modal-body text-center">
                      <p *ngIf="hakakses=='Pemilik'">Apakah anda yakin ingin menghapus perusahaan ini?</p>
                      <p *ngIf="hakakses=='Pegawai' || hakakses == 'Admin'">Apakah anda yakin ingin keluar dari perusahaan ini?</p>
                      <button type="submit" class="btn btn-danger mr-2" *ngIf="hakakses=='Pemilik'" (click)="deletePerusahaan()">Hapus</button>
                      <button type="submit" class="btn btn-danger mr-2" *ngIf="hakakses=='Pegawai' || hakakses == 'Admin'" (click)="keluarPerusahaan()">Keluar</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--MODAL UBAH-->
              <button class="btn btn-success mr-2 mt-auto" data-toggle="modal" data-target="#ubahPerusahaan" *ngIf="hakakses=='Pemilik' || hakakses == 'Admin'" (click)="clickeditperusahaan()">Ubah Perusahaan</button>
              <div class="modal fade" id="ubahPerusahaan">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header bg-success">
                      <h4 class="modal-title">Ubah Perusahaan</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                      <alert></alert>
                      <div class="form-group">
                        <label for="namaPerusahaan">Nama Perusahaan</label>
                        <input type="text" class="form-control" id="namaPerusahaan" required [(ngModel)]="namaPerusahaan">
                      </div>
                      <div class="form-group">
                        <label for="alamatPerusahaan">Alamat Perusahaan</label>
                        <input type="text" class="form-control" id="alamatPerusahaan" required [(ngModel)]="alamatPerusahaan">
                      </div>
                      <div class="form-group">
                        <label for="logoPerusahaan">Logo Perusahaan</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file"(change)="fileSelected($event)" class="btn" name="gambar" id="logoPerusahaan">
                          </div>
                        </div>
                      </div>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" (click)="ubahPerusahaan()">Ubah</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--END CARD Pemilik DAN Pegawai-->

      <!--CARD NULL-->
      <div class="card" id="null" *ngIf="hakakses != 'Pegawai' && hakakses != 'Pemilik' && hakakses != 'Admin'">
        <div class="card-body ">
          <h3 class="card-title text-bold">Anda belum memiliki perusahaan</h3>
          <p class="card-text">Silahkan buat atau join ke perusahaan lain.</p>
          <!--MODAL TAMBAH-->
          <button class="btn btn-primary mr-2 mt-auto" data-toggle="modal" data-target="#addPerusahaan">Buat Perusahaan</button> 
          <div class="modal fade" id="addPerusahaan">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header bg-primary">
                  <h4 class="modal-title">Buat Perusahaan</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <alert></alert>
                  <div class="form-group">
                    <label for="namaPerusahaan">Nama Perusahaan</label>
                    <input type="text" class="form-control" id="namaPerusahaan" placeholder="Masukkan nama" required [(ngModel)]="namaPerusahaan">
                  </div>
                  <div class="form-group">
                    <label for="alamatPerusahaan">Alamat Perusahaan</label>
                    <input type="text" class="form-control" id="alamatPerusahaan" placeholder="Masukkan alamat" required [(ngModel)]="alamatPerusahaan">
                  </div>
                  <div class="form-group">
                    <label for="logoPerusahaan">Logo Perusahaan</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"(change)="fileSelected($event)" class="btn" name="gambar" id="logoPerusahaan" required>
                      </div>
                    </div>
                  </div>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" (click)="addPerusahaan()">Buat</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>

          <!--MODAL JOIN-->
          <button class="btn btn-success mr-2 mt-auto" data-toggle="modal" data-target="#joinPerusahaan">Join Perusahaan lain</button>
          <div class="modal fade" id="joinPerusahaan">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header bg-success">
                  <h4 class="modal-title">Join Perusahaan</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <alert></alert>
                  <div class="form-group">
                    <label for="namaPerusahaan">ID Perusahaan</label>
                    <input type="number" class="form-control" id="namaPerusahaan" placeholder="Masukkan ID Perusahaan" [(ngModel)]="idPerusahaan">
                  </div>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" (click)="joinPerusahaan()">Join</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END CARD NULL-->
    </div>
