<div class="loginbody">
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../../assets/img/tambakin-white.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center formcard">
					<div class="card-body">
						<ul class="mb-3 nav nav-tabs nav-justified">
							<li class="nav-item">
							  <a id="login" class="nav-link aactive text-white" (click)="clicked('login')">Login</a>
							</li>
							<li class="nav-item">
							  <a id="register" class="nav-link text-white" (click)="clicked('register')">Daftar</a>
							</li>
						</ul>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>