<!-- Content Header (Page header) -->

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Nama Proyek</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink='/userpage'>Home</a></li>
                <li class="breadcrumb-item">Proyek</li>
                <li class="breadcrumb-item active">Nama Proyek</li>
            </ol>
        </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="detail-tab" data-toggle="pill" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="kolam-tab" data-toggle="pill" href="#kolam" role="tab" aria-controls="kolam" aria-selected="false">Kolam</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="text-bold">Nama</td>
                                        <td>nama</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">Username</td>
                                        <td>username</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!--MODAL UBAH-->
                                            <button class="btn btn-success mr-2" data-toggle="modal" data-target="#editProyek" (click)="clickeditproyek()">Ubah Data</button>
                                            <div class="modal fade" id="editProyek">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header bg-success">
                                                    <h4 class="modal-title">Ubah Proyek</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                            
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <alert></alert>
                                                        <div class="form-group">
                                                            <label for="namaProyek">Nama Proyek</label>
                                                            <input type="text" class="form-control" id="namaProyek" required [(ngModel)]="namaProyek">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="komoditas">Komoditas</label>
                                                            <input type="text" class="form-control" id="komoditas" required [(ngModel)]="komoditas">
                                                        </div>
                                                    </div>
                                            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" (click)="ubahProyek()">Simpan</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="kolam" role="tabpanel" aria-labelledby="kolam-tab">
                        <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addkolam">Tambah kolam</button>
                        <div class="modal fade" id="addkolam">
                            <div class="modal-dialog">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header bg-success">
                                        <h4 class="modal-title">Tambah kolam</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <alert></alert>
                                        <div class="form-group">
                                            <label for="kolam">Pilih Kolam</label>
                                            <select name="kolam" id="kolam" class="form-control">
                                                <option value="hehe">haha</option>
                                            </select>
                                        </div>
                                    </div>
                            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" (click)="addKolam()">Tambah</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table datatable class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Jenis</th>
                                        <th>kolam</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of proyekd; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{row.namakolam}}</td>
                                        <td>{{row.isikolam}}</td>
                                        <td>
                                            <!--DELETE kolam-->
                                            <button class="btn btn-danger mr-2" data-toggle="modal" attr.data-target="#deletekolam{{row.idkolam}}"><i class="fas fa-trash"></i></button>
                                            <div class="modal fade " attr.id="deletekolam{{row.idkolam}}">
                                                <div class="modal-dialog modal-sm ">
                                                <div class="modal-content border-danger">
                                                    <div class="modal-body text-center">
                                                        <p>Apakah anda yakin ingin menghapus kolam ini?</p>
                                                        <button type="submit" class="btn btn-danger mr-2" (click)="deleteKolam(row.idkolam)">Hapus</button>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>