.main-user {
    margin: 0 0px 0 150px; /* Same as the width of the sidebar */
  }
  .sidebar-off {
    width:0px;
  }
  .sidebar-off-content {
    margin-left: 0px;
  }
  .sidebar-off-dropdown {
    margin-right: 0px;
  }
  .sidebar-on {
    width: 150px;
  }
  .sidebar {
    height: 100vh;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #636e72; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #dfe6e9;
    display: block;
  }
  
  .sidebar a:hover {
    color: #b2bec3;
  }
  
  .sidebar-header{
    height: 10vh;
  }
  
  .sidebar-header img{
    max-width: 125px;
  }
  
  .navbar {
    height: 10vh;
    width: 100%;
    position: fixed;
  }
  .dropdown-right {
    margin-right: 150px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }