<!--NAVBAR START-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sidebar-on-navbar" id="navbaruser">
    <button type="button" id="sidebarCollapse" class="btn btn-secondary mr-auto">
        <i class="fas fa-list-ul"></i>
    </button>
    <div class="dropdown ml-auto dropdown-right" id="dropdownuser">
        <button type="button" id="user" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Akun</a>
            <a class="dropdown-item" href="#">Keluar</a>
        </div>
    </div>
</nav>
<!--NAVBAR END-->