<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Perusahaan</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Perusahaan</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--MODAL TAMBAH-->
          <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addPerusahaan">Tambah Perusahaan</button>
          <div class="modal" id="addPerusahaan">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Tambah Perusahaan</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <alert></alert>
                  <div class="form-group">
                    <label for="namaPerusahaan">Nama Perusahaan</label>
                    <input type="text" class="form-control" id="namaPerusahaan" placeholder="Masukkan nama" [(ngModel)]="namaPerusahaan">
                  </div>
                  <div class="form-group">
                    <label for="alamatPerusahaan">Alamat Perusahaan</label>
                    <input type="text" class="form-control" id="alamatPerusahaan" placeholder="Masukkan alamat" [(ngModel)]="alamatPerusahaan">
                  </div>
                  <div class="form-group">
                    <label for="logoPerusahaan">Logo Perusahaan</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"(change)="fileSelected($event)" class="btn" name="gambar" id="logoPerusahaan">
                      </div>
                    </div>
                  </div>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" (click)="addPerusahaan()">Tambah</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
          <!--TABLE-->
          <div class="table-responsive">
            <table datatable class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nama</th>
                  <th>Alamat</th>
                  <th>Logo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of perusahaan">
                  <td>{{row.idPerusahaan}}</td>
                  <td>{{row.namaPerusahaan}}</td>
                  <td>{{row.alamatPerusahaan}}</td>
                  <td><img src="{{gambarserver+row.logoPerusahaan}}" class="img-fluid" alt="logo"></td>
                  <td>tes</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
