<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark">Proyek</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink='/userpage'>Home</a></li>
            <li class="breadcrumb-item active">Proyek</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6">
                        <button class="btn btn-success float-left" data-toggle="modal" data-target="#addProject">Tambah Proyek</button>
                        <div class="modal fade" id="addProject">
                            <div class="modal-dialog">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header bg-success">
                                        <h4 class="modal-title">Tambah Proyek</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <alert></alert>
                                        <div class="form-group">
                                            <label for="namaProyek">Nama Proyek</label>
                                            <input type="text" class="form-control" id="namaProyek" placeholder="Masukkan nama" required [(ngModel)]="namaProyek">
                                        </div>
                                        <div class="form-group">
                                            <label for="komoditas">Komoditas</label>
                                            <input type="text" class="form-control" id="komoditas" placeholder="Masukkan komoditas" required [(ngModel)]="komoditas">
                                        </div>
                                    </div>
                            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" (click)="addProyek()">Tambah</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SEARCH FORM -->
                    <div class="col-6">
                        <form class="form-inline float-right">
                            <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                                </button>
                            </div>
                            </div>
                        </form>
                    </div> 
                </div>
                <!--PROYEK-->
                <div class="row">
                    <div class="col-md-4" *ngFor="let row of proyek">
                        <div class="card card-primary">
                            <div class="card-header">
                                {{row.namaProyek}}
                            </div>
                            <div class="card-body">
                                <p>komoditas : {{row.komoditas}}</p>
                                <p>status    : {{row.status}}</p>
                                <p>tanggal   : {{row.tanggalAktif}}</p>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary mr-2" (click)="getDataProyekD(row.idProyek)">Detail</button>
                                <button class="btn btn-danger" data-toggle="modal" attr.data-target="#deleteProyek{{row.idProyek}}">Hapus</button>
                                <div class="modal fade " attr.id="deleteProyek{{row.idProyek}}">
                                    <div class="modal-dialog modal-sm ">
                                        <div class="modal-content border-danger">
                                            <div class="modal-body text-center">
                                                <p>Apakah anda yakin ingin menghapus {{row.namaProyek}}? Semua data pada proyek ini akan dihapus.</p>
                                                <button type="submit" class="btn btn-danger mr-2" (click)="deleteProyek(row.idProyek)">Hapus</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END PROYEK-->
            </div>
        </div>
    </div>
</section>