<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!--NAVBAR START-->
    
    
    <!--NAVBAR END-->

    <!--SIDEBAR START-->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link navbar-primary">
          <img src="../../assets/img/tambakin-white.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
               style="opacity: .8">
          <span class="brand-text font-weight-light">Tambakin</span>
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar">
    
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                <li class="nav-item user-panel mb-2 pb-1">
                <a id="kustomer" class="nav-link" (click)="clicked('kustomer')"  routerLink="/userpage/kustomer">
                  <i class="nav-icon fas fa-user"></i>
                  <p>
                     {{kustomer.namaDepan}} {{kustomer.namaBelakang}}
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a id="dashboard" class="nav-link active" (click)="clicked('dashboard')" routerLink="/userpage/">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a id="perusahaan" class="nav-link" (click)="clicked('perusahaan')"  routerLink="/userpage/perusahaan">
                  <i class="nav-icon fas fa-building"></i>
                  <p>
                    Perusahaan
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a id="kolam" class="nav-link" (click)="clicked('kolam')" routerLink="/userpage/kolam">
                  <i class="nav-icon fas fa-fish"></i>
                  <p>
                    Kolam
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a id="pegawai" class="nav-link" (click)="clicked('pegawai')" routerLink="/userpage/pegawai">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Pegawai
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a id="tugas" class="nav-link" (click)="clicked('tugas')" routerLink="/userpage/tugas">
                  <i class="nav-icon fas fa-tasks"></i>
                  <p>
                    Tugas
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a id="project" class="nav-link" (click)="clicked('project')" routerLink="/userpage/projects">
                  <i class="nav-icon fas fa-project-diagram"></i>
                  <p>
                    Proyek
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!--SIDEBAR END-->
    
    <!--CONTENT START-->
    <div class="content-wrapper">
      <ion-content>
        <nav class="navbar navbar-expand navbar-blue navbar-dark w-100">
          <!-- Left navbar links -->
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
          </ul>
      
          <!-- Right navbar links -->
          <ul class="navbar-nav ml-auto">
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <a href="#" class="dropdown-item">
                  To be added later
              </a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a (click)="clicked('kustomer')" class="dropdown-item">
                    Pengaturan akun
                </a>
                <a (click)="logout()" class="dropdown-item">
                    Logout
                </a>
                </div>
          </li>
          </ul>
        </nav>
  
        <router-outlet></router-outlet>       
      
      </ion-content>
    </div>
    <!--CONTENT END-->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>
    <!-- /.control-sidebar -->
    
    <!--FOOTER START-->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 <a href="https://tambak.in">Tambak.in</a>.</strong> All rights reserved.
    </footer>
    <!--FOOTER END-->
  </div>
</body>